
.mainContainer {
  margin: 3rem auto;
  max-width: 600px;
  height: 80%;
  width: 80%;
  box-sizing: border-box;
  padding: 1rem 12px;
  border: 1px solid transparent;
  border-radius: 0.6rem;
  background-color: white;
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.20);
  color: white;
  text-align: center;
}

.season {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: inline-block;
}
.seasonLabel {
  width: 70%;
  font-size: 1.2rem;
  padding-right: 1.2rem;
  color: black;
  text-align: left;
}
.seasonDropDown {
  width: 30%;
  margin: 0 auto;
}

.formPrice {
  width: 70%;
  margin: 0 auto;
  font-size: 1.0rem;
  text-align: left;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: black;
}
.formTitle {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
  color: #FF331F;
}
.mainContainer  button {
  font-size: 1rem;
  border: 1px solid #FF331F;
  border-radius: 0.6rem;
}

.mainContainer  button:hover {
  background-color: #FF331F;
  color: white;
}