.headerContainer {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  color: #222222;
}

.title {
  padding-left: 1rem;
  text-align: center;
  text-decoration: none;
  color: #2A2B2A;
}