
.mainContainer {
  margin: 3rem auto;
  max-width: 600px;
  height: 80%;
  box-sizing: border-box;
  padding: 1rem 12px;
  border: 1px solid transparent;
  border-radius: 1.2rem;
  background-color:#DCD8FF;
  color: white;
  text-align: center;
}

.formTitle {
  font-size: 2rem;
  text-align: center;
}